
/* ================== App Themes & Utility Classes ================== */


/* Themed Color Palette */
.theme-bg-color-lightgrey {
  background-color: #B4B4B4;
}
.theme-bg-color-black {
  background-color: #1A1A1A;
}
.theme-bg-color-white {
  background-color: #FEFEFE;
}
.theme-color-lightgrey {
  color: #B4B4B4;
}
.theme-color-black {
  color: #1A1A1A;
}
.theme-color-white {
  color: #FEFEFE;
}
.App-link {
  color: #61dafb;
}


/* Layout & Alignment Tools */
.col-centered{
  float: none;
  margin: 0 auto;
}


/* ======================== Component Styles ======================== */


/* App Global Styles */
.App {
  margin: 0;
  text-align: center;
}


/* Material Icons */
.material-icons{
  padding-top: 25%;
}


/* Header Components */
.App-header {
  margin-bottom: 0.5em;
  background-color: #1A1A1A;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Alfa Slab One', cursive;
  font-size: calc(10px + 2vmin);
  color: white;
}
.app-title-wrapper {
  height:8vh;
}
.app-title {
  margin: 0 auto;
}
.App-logo {
  height: 100%;
}
.header-logo-wrapper {
  height: 8vh;
  width:fit-content;
}
#header-menu-button {
  background-color: #1A1A1A !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
#header-menu-icon-wrapper {
  height: 8vh;
  width: fit-content;
  background-color:  color='1A1A1A';
}
#header-menu-icon {
  padding-top: calc();
}



/* Chirp Input Components */

#chirp-text-input {
  height: 5em;
}


/* Chirp Card Components */
ChirpCard {
  width: 100%;
  margin: 0 auto;
}
.chirp-card-title {
  font-size: 1em;
}
.chirp-card-text {
  font-size: 0.8em;
}

/* Animations */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ====================== Bootstrap Class Edits ====================== */


.list-group-item {
  padding: 0;
  margin: 0.5em;
  border: none;
}

.dropdown-menu {
  font-family: 'Antic', sans-serif !important;
}






